@model IEnumerable<ShoppingCart.Domain.Entities.Category>

<div class="panel panel-primary well">
    <ul class="list-group nav">
        @foreach (var category in Model)
        {
            <li class="list-group-item-heading nav-header disabled">
            @Html.RouteLink(category.CategoryTranslations.Single(x => x.Language.LanguageCode == @Html.GetLanguageCode()).CategoryName,
            new {
            controller ="Home",
            action ="Index",
            categoryLinkText=category.CategoryURLText,
            page=1
            })
            </li>         
            foreach (var childCategory in category.Children)
            {
                <li>
                @Html.RouteLink(childCategory.CategoryTranslations.Single(x => x.Language.LanguageCode == @Html.GetLanguageCode()).CategoryName,
                new {
                controller ="Home",
                action ="Index",
                categoryLinkText = childCategory.CategoryURLText,
                page=1
                })
                </li>             
            }
        }
    </ul>
</div>
