@model IEnumerable<ShoppingCart.Domain.Entities.Category>

<div class="panel panel-primary well">
    <ul class="list-group nav">
        @foreach (var category in Model)
        {
            <li class="list-group-item-heading nav-header disabled"><a href="#">@category.CategoryTranslations.Single(x => x.Language.LanguageCode == "tr").CategoryName</a></li>
            foreach (var childCategory in category.Children)
            {
                <li><a href="#">@childCategory.CategoryTranslations.Single(x => x.Language.LanguageCode == "tr").CategoryName</a></li>
            }
        }
    </ul>
</div>
